::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(99, 99, 99, 0.829);
    border-radius: 10px;
}

.sampleListContainer {
    z-index: 500;
    position: fixed;
    inset: 0;
    top: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow-x: hidden;
    color: #fdfdfd;
    transition: max-height 0.2s ease-in-out;
    border-radius: 0 0 20px 20px;
    max-width: 600px;
    height: fit-content;
}

.sampleListContainer.inActive {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.sampleListSelector {
    width: 100%;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #37373766;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 0 0 20px 20px;
}


@supports (-webkit-backdrop-filter: none) {
    .sampleListSelector {
        background-color: #64646491;
    }
}

.sampleSelectorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}