input[type=text]:required,
input[type=number]:required {
    border-color: #2196f3;
}

input[type=text]:invalid,
input[type=number]:invalid {
    border-color: #ff2ba6;
}

input[type=text],
input[type=number],
textarea.input {
    font-size: 1.2rem;
    padding: 5px;
    width: 100%;
}

input[type=file] {
    display: none;
}

input[type=file]+.file-parts {
    font-size: 1.2rem;
    padding: 10px 5px;
    width: 400px;
    color: white;
    background-color: #1bce7d;
    display: block;
    margin-top: 5px;
}

#wrapper {
    width: 100%;
    max-width: 800px;
}

#wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#wrapper form>div {
    flex-grow: 1;
}

#wrapper div {
    width: 100%;
}

.button-wrapper {
    max-width: 400px;
}

.select-wrapper {
    padding: 0;
}

.inactive {
    display: none;
}

.error_message {
    color: red;
    background-color: #ffb4b8;
}