.optionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    font-size: 2rem;
    padding: 5px 0;
    cursor: pointer;
}

.optionContainer.selected {
    background: linear-gradient(90deg, #eed3fd00, #66b7ff66, #c666ff66, #eed3fd00);
}

.optionWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cachedSymbol {
    min-width: 16px;
    margin: 0 3px 0 6px;
}

.optionIndex {
    min-width: 24px;
    text-align: right;
    margin: 0 3px;
}

.optionLabel {
    flex-grow: 1;
    padding-left: 7.5px;
}