.annotation {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s;
}

.annotationActive {
    opacity: 1;
    transition: opacity 0.25s;
}

.annotationContentContainer {
    display: flex;
    max-height: 0;

    /*flex-direction: column;*/
    align-items: center;
    overflow: hidden;
    margin: none;
    padding: 0 0 0 2rem;

    width: 780px;
    max-width: 100%;
    border-radius: 40px;
    box-shadow: none;
    font-size: 1.6rem;

    transition: max-height 0.25s, box-shadow 0.25s, padding 0.25s, height 0.25s;
}

.active {
    margin: 1rem 0;
    padding: 0.5rem 0 0.5rem 1rem;
    max-height: 20rem;
    min-height: 10rem;
    box-shadow: 5px 5px 14px #afafaf, -5px -5px 14px #ffffff;
    background: linear-gradient(145deg, #d4d4d4, #fbfbfb);
    transition: max-height 0.25s, box-shadow 0.25s, padding 0.25s;
}

.annotationContentWrapper {
    margin: 0.5rem 0 0.5rem 1rem;
    width: 100%;
    height: fit-content;
    max-height: 20rem;
    overflow-y: scroll;
    flex-grow: 1;
}

.annotationContent {}

.closeAnnotationContentButton {
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    filter: drop-shadow(3px 3px 5px #000) drop-shadow(-3px -3px 5px #fff);
    transition: filter 1s;
}

.closeAnnotationContentButton:active {
    filter: none;
    transition: filter 0.1s;
}